<!doctype html>
<html ng-app='MealApp'lang="en">
  
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="MealController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="input">
         </div>
         <div class="form-group">
             <button ng-click="calculate();" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
            <h3>{{output}}</h3>
         </div>
   </div>
</body>
</html>